results/
site/public/
site/resources/

# Build artifacts
*.o
*.exe
.idea/
obj/
bin/
!frameworks/fletch/bin/
target/
frameworks/blitz/zig-linux-*
frameworks/blitz/.zig-cache
frameworks/fletch/.dart_tool/

# IDE settings
*.user
.vs/

# Ignore node modules anywhere in the repo
node_modules/