{
	admin off
	auto_https off
	order httparena after encode
	servers {
		timeouts {
			idle 60s
		}
	}
}

:8080 {
	encode {
		gzip {
			level 1
		}
	}
	httparena
}

:8443 {
	tls /certs/server.crt /certs/server.key
	encode {
		gzip {
			level 1
		}
	}
	httparena
}
